@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --primary-color:#F0A73E;
    --light-color:#F7F8FC;
    --secondary-color:#1B594E;
    --aux-color:#161A25;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', serif;
    color: var(--aux-color);
}

h1{
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
}

p{
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
    margin-bottom: 80px;
}

section.home{
flex-direction: row;
margin-top: 0;
height: 100vh;
}

.btn{
    display: inline-block;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--light-color);
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 10px 30px;
    margin: 20px 0;
    transition: .5s;
}

.btn:hover{
    /* transform: scale(1.2); */
    letter-spacing: 3px;
}

.logo{
    color: var(--secondary-color);
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 20;
}

/* TOGGLE */
.toggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--light-color)  url(../imgs/Menu.png);
    z-index: 20;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s;
}

.toggle.active{
    background: var(--light-color)  url(../imgs/xx.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s;
}


/* NAVIGATION */
.navigation{
   position: fixed;
   top: 0; 
   left: 100%;
   width: 100%;
   height: 100%;
   background-color: var(--light-color);
   z-index: 15;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .8s;
}

.navigation.active{
    transition: .8s;
    left: 0;

}

.navigation ul{
    position: relative;

}

.navigation ul li{
    position: relative;
    list-style: none;
    text-align: center;
}

.navigation ul li a,.navigation .email-icon{
    text-decoration: none;
    font-size: 2.2rem;
    color: var(--aux-color) ;
    font-weight: 400;
}

.navigation ul li a:hover, .navigation .email-icon:hover{
    color: var(--primary-color);
}

.navigation .social-bar{
    position: absolute;
    left: 0;
    top: 0; 
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navigation .social-bar a{
    display: inline-block;  
    /* transform: scale(.5); */
}

.navigation .email-icon{
    position: absolute;
    bottom: 40px;
    /* transform: scale(0.9); */
}

/* HOME PAGE */

.home-content{
    position: relative;
    z-index: 10;
    max-width: 600px;
}

.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}

/* SERVICES PAGE STYLE */

.services{
margin-top: 40px;

display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 40px;
text-align: center;
}

.services .service{
    padding: 30px;
    transition: .5s;
}

.services .service:hover{
   box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
   border-bottom: 2px solid var(--secondary-color);
}

.services .service h2{
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
    color: var(--primary-color);
}

.services .service .icon img{
max-width: 100px;
}

/* PORTFOLIO PAGE */

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 20px;
}

.portfolio .item{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.portfolio .item img{
    width: 100%;
    height: 100%;
}

.portfolio .item .action{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .8);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: .5s;

}

.portfolio .item:hover .action{
    opacity: 1;
}


.portfolio .item  .action a{
    display: inline-block;
    color: var(--light-color);
    text-decoration: none;
    border: 1px solid var(--light-color);
    padding: 5px 10px;
    transition: .5s;

}

.portfolio .item  .action a:hover{
    background: var(--light-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

/* FOOTER */

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: var(--aux-color);
    color: var(--light-color);
    height: 80px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 30px;
}

.f-section a{
    text-decoration: none;
    color: var(--light-color);
}
.f-section a:hover{
    
    color: var(--primary-color);
}

.f-section .fab{
    padding: 10px;
}

/* CONTACT */
.contact{
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form{
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 350px);
    padding: 60px 40px 20px;
}
.contact-form form{
    width: 100%;
}

.contact-form .row{
    width: 100%;
    display: flex;
}

.contact-form .input50{
    width: 50%;
    margin: 0 10px;
}
.contact-form .input100{
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input, .contact-form .row textarea{
    position: relative;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea{
    height: 150px;
}

.contact-form .row input[type='submit']{
    background: var(--primary-color);
    color: var(--light-color);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 400;
    border: 0;
}

.contact-info{
   width: 350px; 
   background: #f9f9f9;
   padding: 60px 40px 20px;

}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
}

.contact-info .info-box .contact-icon{
    width: 20px;
    margin: 10px;
}

.contact-info .info-box .details h4{
color: var(--primary-color);
}

.contact-info .info-box .details p, .contact-info .info-box .details a{
    color: var(--secondary-color);
    margin-top: 0;
}

@media (max-width: 1068px){

    header{
        position: fixed;
        top: 0;
        background: var(--aux-color);
        width: 100%;
        height: 55px;
        z-index: 19;
    }

    .logo{
     
        color: var(--light-color);
        position: fixed;
        top: 30px;
        left: 20px;
        font-size: 1.1rem;
        font-weight: 500;
    }

   

    .navigation ul li a{
        font-size: 1.5rem;
    }

    section.home{
        padding: 100px 40px;
        flex-direction: column;
        align-items: center;
    }
    .home-img{
        position: relative;
        width: 200px;
        height: 300px;
        margin-bottom: 30px;
            /* display: none; */
        border-radius: 20px;
    }

    .home-content{
        position: relative;
        z-index: 10;
        max-width: 600px;
        text-align: center;
        margin-top: 30px;
    }

    .toggle{
        position: fixed;
        top: 20px;
        right: 10px;
        background-size: 80%;
        
    }
    
    .toggle.active{
        background-size: 100%;
        
    }

  .services{
      grid-template-columns: repeat(2, 1fr);
  }

  .contact{
      flex-direction: column;
  }

  .contact-form{
      width: 100%;
      padding: 30px 30px 20px;
  }

  .contact-form .row{
      flex-direction: column;
  }
  .contact-form .input50, .contact-form .input100{
      width: 100%;
      margin: 0;
  }

  .contact-info{
      width: 100%;
      margin-top:20px ;
      padding: 30px 30px 20px;
  }

}

@media(max-width:768px ){
    .services{grid-template-columns: 1fr;}

    footer{
        height: 100px;
        flex-direction: column;
        padding: 10px;
    }

    .services .service {
        box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
        border-bottom: 2px solid var(--secondary-color);
     }
     .contact-info{
        margin-top:20px ;
        padding: 0 0 20px;
       font-size: 12px;
     }


     .contact-info .info-box .details p, .contact-info .info-box .details a{
        font-size: 12px;
        
    }
}